.container-fluid{
   width: 100%;
}

.sonytop{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: black;
    width: 100%;
}

.sonytop img{
    height: 50px;
    width: 100px;
    margin-right: 10px;
}

.returnal{
    background: url("img/jumbo-bg.png");
    width: 100%;
    height: 700px;
    background-size: cover;
}

.returnalgameinfo{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}


.returnalgameinfo img{
    width: 350px;
    height: 70px;
    margin-bottom: 35px;
}

.returnalgameinfo h1{
    margin-left: 0px;
}


.returnalgameinfo p{
    width: 500px;
    margin-top: 30px;
}

.btn-warning{
    margin-top: 20px;
}



.games{
    height: 200px;
}

.games img{
    margin-top: 30px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    transition: .5s; 
}

.games img:hover{
    width: 205px;
    height: 105px;
    border: blue solid 3px;
    transition: .5s;    
}

.ps5{
    width: 100%;
    height: 1200px;
}

.ps5info{
    text-align: center;
    margin-bottom: 140px;
}

.ps5info p{
    margin-top: 20px;
    font-size: 20px;
}

.ps5txt{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
}

.ps5 img{
    width: 600px;
    height: 600px;
}

.ps5txt p, h1, .btn-primary{
    margin: 15px;
}

.accessories img{
    width: 100px;
    height: 100px;
    margin: 100px;
    box-shadow: .5;
}

.taketwo{
    width: 100%;
    height: 900px;
    background: url("img/it-takes-two-hero-banner-desktop.jpg")
}

.take2gameinfo{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}

.take2gameinfo h1{
    width: 400px;
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.take2gameinfo p{
    width: 400px;
}

.taketwo img{
    width: 300px;
    height: 200px;
    margin-top: 30px;
}

.news{
    width: 100%;
    height: 900px;
    background: #1F1F1F;
}

.news h1{
    margin-left: 0px;
    color: white;
    margin-top: 30px;
}

.news p{
    color: white;
    margin-top: 30px;
    font-size: 20px;
}



.news img{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border-radius: 15px;
}

.crash4{
    color: white;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}


.ps4{
    width: 100%;
    height: 900px;
}

.ps4 h1{
    text-align: center;
    margin: 30px;
}

.ps4 p{
    font-size: 20px;
}

.ps4 img{
    width: 350px;
    height: 200px;
    margin: 40px;
}

.ps4acc{
    padding-top: 50px;
    padding-bottom: 50px;
}

.ps4 h1{
    text-align: left;
    margin-left: 0px;
}

.ps4 h3{
    color: #727272;
}

.btn-primary{
    margin-left: 0px;
}

.psplus{
    height: 400px;
    background-color: #BEBCBB;
}

.pluslogo img{
    width: 400px;
    height: 90px;
    margin-left: 0px;
}

.pluslogo p{
    width: 550px;
}

.plusjumbo img{
    height: 400px;
    width: 550px;
    margin-top: 0px;
}

.sales{
    height: 600px;
}

.sales h1, h4{
  text-align: center;
  margin: 40px;
}

.sales img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
}